.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.display-4 {
  font-weight: bold;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.galery img {
  width: 100%;
}

#galery .row > * {
  padding: 0;
}
